
body {
  margin: 0;
  text-align: center;
  font-family: 'Aleo', serif;
  color: #40514E;
}

h1 {
  font-family: 'Mochiy Pop One', sans-serif;
  margin-top: 3.5rem auto 0 auto;
  font-size: 3.5rem;
  color: #92BA92;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #92BA92;
  margin-bottom: 50px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #819e81;
}

p {
  font-size: 100%;
  font-weight: bold;
}

hr {
  width: 4%;
  margin: 50px auto 100px auto;
  border: dotted;
  border-width: 6px;
  border-bottom: none;
  color: #EAF6F6;

}

a {
  color: #F4FCD9;
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #92BA92;
}
 .top-container {
   background-color: #F4FCD9;
   position: relative;
   padding-top: 100px;
 }
 .middle-container {
   padding-top: 50px;
 }

 .bottom-container {
   background-color: #92BA92;
   padding-top: 50px;
   padding-bottom: 40px;
  margin-top: 100px;
 }
 .pro {
  text-decoration:underline;
 }
 .top-cloud {
   position: absolute;
   top: 10%;
   right: 20%;
 }
 .bottom-cloud {
    position: absolute;
    top: 40%;
    left: 15%;
 }

.skill-row {
  width: 70%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 1.5;
  position: relative;
}
.paragraph {
  width: 50%;
  margin: 10px auto 100px auto;
  text-align: left;
  line-height: 1.5;
  position: relative;
}

.computer {
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-top: 5px;

}

.guitar {
  width: 25%;
  float: right;
  margin-left: 30px;
  margin-top: 0;
}

.pic-profile {
  margin: 20px auto 10px auto;
}

.contact-me {
  width: 50%;
  margin: 0 auto 0 auto
}

.footer2 {
  color: white;
  font-weight: lighter;
  font-size: 12px;
  padding-top: 20px;
}

.btn {
  background: #b2d9b2;
  background-image: -webkit-linear-gradient(top, #92ba92, #b2d9b2);
  background-image: -moz-linear-gradient(top, #92ba92, #b2d9b2);
  background-image: -ms-linear-gradient(top, #92ba92, #b2d9b2);
  background-image: -o-linear-gradient(top, #92ba92, #b2d9b2);
  background-image: linear-gradient(to bottom, #92ba92, #b2d9b2);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ccedcc;
  background-image: -webkit-linear-gradient(top, #ccedcc, #daf5da);
  background-image: -moz-linear-gradient(top, #ccedcc, #daf5da);
  background-image: -ms-linear-gradient(top, #ccedcc, #daf5da);
  background-image: -o-linear-gradient(top, #ccedcc, #daf5da);
  background-image: linear-gradient(to bottom, #ccedcc, #daf5da);
  text-decoration: none;
}

.paragraph2 {
  width:100%;
  margin: 50px auto 50px auto;
}
 /*
 .middle-container {
   background-color: blue;
   height: 160px;
   width:160px;
   border: 20px;
   border-style: solid;
   border-color: black;
   margin-left: 200px;
 }
 .bottom-container {
   background-color: red;
   height:180px;
   width:180px;
   border: 10px;
   border-style: solid;
   border-color: black;
   margin-left: 400px;
 }
#div-1 {
  display: block;
  background-color: red;
  height:200px;
  width:200px;

}
#div-2 {
  background-color: cyan;
  height:200px;
  width:200px;
}
#div-3 {
  background-color: green;
  height:200px;
  width:200px;
}
*/
